{% load static from staticfiles %}

<head>
    <title>Premier League Fantasy Bot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap-social.css' %}" />   
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 tallCol flexbox">
                <a class="btn btn-block btn-social btn-github" href="https://github.com/lpatino10/premier-fantasy-groupme-bot">
                    <span class="fa fa-github"></span> View on GitHub
                </a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>